{% extends "bookmodule/layouts/base.html" %}
{% block stylesheets %}
ul li:not(:last-child) {
    margin-bottom: 15px;
}
{% endblock stylesheets %}
{% block content %}
<h1>Book List</h1>

    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <strong>{{ book.title }}</strong><br>
                    ID: {{ book.id }}<br>
                    Author: {{ book.author }}<br>
                    Edition: {{ book.edition }}<br>
                    Price: {{ book.price }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No books found matching your criteria.</p>
    {% endif %}
{% endblock content %}